.lemonCounter {
    border: 1px solid yellow;
    color: yellow;
    background-color: #1a1a1a;
    cursor: default;
    flex: 1;
    user-select: none;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
}
